@CHARSET "ISO-8859-1";
.InspButton {
    word-wrap: break-word;
    float: left;
    background-color: #0F96DA;
    border: 2px solid #000000;
    border-radius: 4px;
    margin: 2%;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

input#zoom-in {
    background-size: 25px 25px;
    background: url(../img/minus.png) no-repeat;
    border: none;
    width: 25px;
    height: 25px;
}

input#zoom-out {
    background-size: 25px 25px;
    background: url(../img/plus.png) no-repeat;
    border: none;
    width: 25px;
    height: 25px;
}

.folder, .file {
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.folder {
    background-size: 30px;
    background: url('../img/folder.jpg') no-repeat 0 0;
    margin: 2px;
    font-size: 16px;
    padding: 12px 40px;
    text-align: left;
}

.file {
    background-size: 30px;
    background: url('../img/file.jpg') no-repeat 0 0;
    margin: 2px;
    padding: 12px 40px;
    font-size: 14px;
    text-align: left;
}

@media all and (max-width: 50em) {
    .my-breakpoint .ui-block-a,
    .my-breakpoint .ui-block-b,
    .my-breakpoint .ui-block-c,
    .my-breakpoint .ui-block-d,
    .my-breakpoint .ui-block-e {
        width: 100%;
        float:none;
    }
}

@media all and (min-width: 50em) {
    .my-breakpoint.ui-grid-b .ui-block-a { width: 79.95%; }
    .my-breakpoint.ui-grid-b .ui-block-b { width: 19.925%; }
}