@CHARSET "ISO-8859-1";
input:active[type="button"] {
color:#FFFFFF;
}
.divMenuButton:active{
color:#FFFFFF;
}
.login_btns:active{
color:#FFFFFF;
}
.gallary_menubtn:active {
color:#FFFFFF;
}
.InspButton:active {
color:#FFFFFF;
}
input#zoom-in{
background:url(../img/minus.png);
background-size:25px 25px;
background-repeat:no-repeat;
padding:0px;
border:none;
width:25px;
height:25px;
}
input#zoom-out{
background:url(../img/plus.png);
background-size:25px 25px;
background-repeat:no-repeat;
padding:0px;
border:none;
width:25px;
height:25px;
}
.menuButton {
	margin-top: 5%;
	border: #000000 2px solid;
	border-radius:4px;
	width: 75%;
	height: 20%;
	padding: 4px 0px;
}

.page {
	display: none;
	text-align: center;
}

#disp {
	text-align: center;
}

.divButton
{
	float:left;
	width:18%;
	padding:25px 5%;
	background-color:#0F96DA;
	border: 2px solid #000000;
	border-radius:4px;
	margin: .7%;
	font-family: sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.InspButton
{
	word-wrap:break-word;
	float:left;
	padding:20px 5%;
	background-color:#0F96DA;
	border: 2px solid #000000;
	border-radius:4px;
	margin: 2%;
	font-family: sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.divMenuButton
{
	float:left;
	width:100%;
	background-color:#0F96DA;
	border: 2px solid #000000;
	border-radius:4px;
	margin: 5% 4% 5% 2%;
	padding: 5px 2px;
	font-family: sans-serif;
	font-weight:bold;
	cursor: pointer;
}

#txt_role option{
	width:70%;
}

.gallary_menubtn{
float: left; 
border: 1px solid black; 
border-radius:3px; 
padding: 1px; 
margin-left:10px; 
height:20px;
width:70px;
background-color:#3399CC;
}
.crop_btn{
border:1px solid #000000;
border-radius:3px;
background-color:#3399CC;
margin:20% 0%;
float:left;
width:100%;
padding:5px 0px;
height:100%;
}
.login_btns{
border:1px solid #000000;
border-radius:3px;
background-color:#3399CC;
width:22%;
}

.folder, .file{
    font-family:sans;
    font-size:10px;
    cursor:pointer;
}
 
.folder{
    background: url('../img/folder.jpg') no-repeat 50% 0%;
	background-size:30px;
	background-position: 0% 0%;
    margin:2px;
	font-size:16px;
    padding:12px 40px;
    text-align:left; 
}
 
.file{
    background: url('../img/file.jpg') no-repeat 50% 0%;
	background-size:30px;
	background-position: 0% 0%;
    margin:2px;
    padding:12px 40px;
	font-size:14px;
    text-align:left;
}