@CHARSET "ISO-8859-1";

.menuButton {
	margin-top: 5%;
	border: #000000 2px solid;
	border-radius:4px;
	width: 75%;
	height: 15%;
}

.page {
	display: none;
	text-align: center;
}

#disp {
	text-align: center;
}

.divButton
{
	float:left;
	width:18%;
	padding:25px 5%;
	background-color:#0099CC;
	border: 2px solid #000000;
	border-radius:4px;
	margin: .7%;
	font-family: sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.InspButton
{
	word-wrap:break-word;
	float:left;
	padding:20px 5%;
	background-color:#0099CC;
	border: 2px solid #000000;
	border-radius:4px;
	margin: 2%;
	font-family: sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.divMenuButton
{
	float:left;
	width:25%;
	height:20px;
	background-color:#0099CC;
	border: 2px solid #000000;
	border-radius:4px;
	margin: 1% 2% 1% 4%;
	font-family: sans-serif;
	font-weight:bold;
	cursor: pointer;
}
.gallary_menubtn{
float: right; 
border: 1px solid black; 
border-radius:3px; 
padding: 2px; 
margin-left:10px; 
height:20px;
width:70px;
background-color:#3399CC;
}
.crop_btn{
border:1px solid #000000;
border-radius:3px;
background-color:#3399CC;
margin:20% 0%;
float:left;
width:100%;
height:100%;
}
.login_btns{
border:1px solid #000000;
border-radius:3px;
background-color:#3399CC;
width:22%;
}

.folder, .file{
    font-family:sans;
    font-size:10px;
    cursor:pointer;
}
 
.folder{
    background: url('../img/folder.jpg') no-repeat 50% 0%;
	background-size:contain;
	background-position: 0% 0%;
    margin:2px;
	font-size:16px;
    padding:12px 40px;
    text-align:left; 
}
 
.file{
    background: url('../img/file.jpg') no-repeat 50% 0%;
	background-size:contain;
	background-position: 0% 0%;
    margin:2px;
    padding:12px 40px;
	font-size:14px;
    text-align:left;
}

.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  @include background( linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) );
  @include box-shadow( inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5) );
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    @include background( linear-gradient(top, #222 0%, #45484d 100%) );
    @include box-shadow( inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1) );
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: #00bf00;
      @include background( linear-gradient(top, #00bf00 0%, #009400 100%) );
      @include box-shadow( inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5) );
      @include opacity( 0 );
    }
    &:hover::after {
      @include opacity( 0.5 );
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      @include opacity( 1 );
    }
}
}