@CHARSET "ISO-8859-1";

* {
	preventFocusZoom: true;
}

.ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus,
	html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus,
	html head+body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 0px #3388cc /*{c-active-background-color}*/;
	-moz-box-shadow: 0 0 0px #3388cc /*{c-active-background-color}*/;
	box-shadow: 0 0 0px #3388cc /*{c-active-background-color}*/;
}

.ui-page {
	-webkit-backface-visibility: hidden;
}

#pg_settings .ui-panel-inner {
	padding: .2em;
}

.circle {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	line-height: 50px;
	background: #c5003e;
}

.circle a {
	color: inherit !important;
	text-decoration: none;
	line-height: normal;
	position: relative;
	top: 74px;
	left: 9px;
	margin: 0 auto;
}

.ui-mobile [data-role=header], .ui-mobile [data-role=footer] {
	text-shadow: 0px 0px 0px #000 !important;
}

/* img {
	width: 100%;
}
 */
/* form label,legend {
	color: #123456;
}
 */
p {
	text-align: center;
}

/* span {
	color: red;
} */
body {
	width: 100% overflow-x:                       hidden position:      
		                absolute top:             
		  
		      0 left:                   
		   0
}

.ui-panel.ui-panel-open {
	position: fixed;
}

.ui-panel-inner {
	position: absolute;
	top: 1px;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* A bit custom styling */
.img-gallery .ui-listview li .ui-btn p {
	color: #c0c0c0;
}

.img-gallery .ui-listview li .ui-btn .ui-li-aside {
	color: #FFFFFF;
}

.img-gallery .ui-corner-all {
	margin: .0em auto !important;
}

.img-gallery .ui-body {
	padding: 0px;
	margin: 0 auto;
	background: transperant !important;
}

.img-gallery .selected-file {
	border: 1px solid rgb(187, 19, 62) !important;
	xbackground: url(../img/plus.png) no-repeat !important;
}

.img-gallery .ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb
	{
	min-height: 6.625em;
}
/* 
.cropper-container {
	min-width: 100%;
	min-height: 100%;
	padding: 0px !important;
	margin: 0px !important;
}

.img-container {
	min-width: 100%;
	min-height: 100%;
	padding: 0px !important;
	margin: 0px !important;
} */
.cropper-point .point-se {
	background-image: url("../img/crop.png") !important;
}

.ui-header.ui-screen-hidden+.ui-selectmenu-list li  .ui-btn {
	line-height: .5em !important;
	border-top-width: 0;
	font-size: .9em !important;
	xfont-weight: normal !important;
}

/* First breakpoint is 48em (768px). 3 column layout. Tiles 250x250 pixels incl. margin at the breakpoint. */
@media ( min-width : 400px ) { /* 	.cropper-container {
		min-height: 205px;
	}
	.img-container {
		min-height: 205px;
	} */
	#pnl_selected_files .ui-listview li { /* float: left; */
		/* width: 25% !important; */
		float: left;
		width: 30% !important;
		margin: .1em !important;
	}
	#pnl_selected_files .ui-panel-inner {
		padding: 0em !important;
	}
	#pnl_selected_files .ui-content {
		padding: 1em 0 1em 0px !important;
		margin-top: 0px;
	}
	#pnl_selected_files  .ui-content .ui-listview, .ui-panel-inner>.ui-listview
		{
		margin: 0em;
	}
	#pnl_selected_files .ui-bar {
		margin-top: 0px;
		text-align: center;
	}
	.img-gallery .ui-content {
		padding: .5625em; /* 9px */
	}
	.logoimage {
		width: 80%;
	}
	.img-gallery  .ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb
		{
		padding-left: 1.25em !important;
	}
	.img-gallery .ui-listview li {
		float: left;
		width: 15%; /* 33.3333% incl. 2 x 1.2% margin */
		xheight: 60px; /* 232p */
		margin: .5em 0.5em;
		border: 1px solid transparent;
	}
	.img-gallery .ui-listview li>.ui-btn {
		-webkit-box-sizing: border-box;
		/* include padding and border in height so we can set it to 100% */
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		height: 100%;
	}
	.img-gallery .ui-listview li.ui-li-has-thumb .ui-li-thumb {
		height: auto; /* To keep aspect ratio. */
		max-width: 100%;
		max-height: none;
	}
	.img-gallery .ui-listview li {
		padding: 1px !important;
	}
	/* Make all list items and anchors inherit the border-radius from the UL. */
	.img-gallery .ui-listview li, .img-gallery .ui-listview li .ui-btn,
		.img-gallery .ui-listview .ui-li-thumb {
		-webkit-border-radius: 0;
		border-radius: inherit;
	}
	/* Hide the icon */
	.img-gallery .ui-listview .ui-btn-icon-right:after {
		display: none;
	}
	/* Make text wrap. */
	.img-gallery .ui-listview h2, .img-gallery .ui-listview p {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
	}
	/* Text position */
	.img-gallery .ui-listview h2 {
		font-size: 0.6em;
		margin: 0;
		padding: .025em .4em;
		bottom: 0%;
	}
	.img-gallery .ui-listview p {
		xfont-size: .6em;
		xmargin: 0;
		xpadding: 0 1.25em;
		xmin-height: 50%;
		bottom: 0;
		background: transparent !important;
	}
	.img-gallery .ui-listview a {
		background: transparent !important;
		padding: 0px !important;
		margin: 0px !important;
		border: 0px !important;
	}

	/* Semi transparent background and different position if there is a thumb. The button has overflow hidden so we don't need to set border-radius. */
	.ui-listview .ui-li-has-thumb h2, .ui-listview .ui-li-has-thumb p {
		background: #111;
		background: rgba(232, 214, 218, 1);
		color: #000;
	}
	.ui-listview .ui-li-has-thumb h2 {
		bottom: 0%;
		background: transparent !important;
		color: #000 !important;
		font-size: .9em !important;
	}
	.ui-listview .ui-li-has-thumb p {
		min-height: 35%;
	}
	/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
	.img-gallery .ui-listview .ui-li-aside {
		xpadding: .125em .625em;
		xwidth: auto;
		xmin-height: 0;
		xtop: 0;
		xleft: auto;
		xbottom: auto;
		/* Custom styling. */
		background: transparent !important;
		background: rgba(187, 19, 62, 1);
		x-webkit-border-top-right-radius: inherit;
		xborder-top-right-radius: inherit;
		x-webkit-border-bottom-left-radius: inherit;
		xborder-bottom-left-radius: inherit;
		x-webkit-border-bottom-right-radius: 0;
		xborder-bottom-right-radius: 0;
	}
	/* If you want to add shadow, don't kill the focus style. */
	.img-gallery .ui-listview li {
		x-moz-box-shadow: 0px 0px 0px #111;
		x-webkit-box-shadow: 0px 0px 0px #111;
		xbox-shadow: 0px 0px 0px #111;
	}
	/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	.img-gallery .ui-listview li>.ui-btn:hover {
		x-moz-box-shadow: 0px 0px 2px #33ccff;
		x-webkit-box-shadow: 0px 0px 2px #33ccff;
		xbox-shadow: 0px 0px 2px #33ccff;
	}
	/* Animate focus and hover style, and resizing. */
	.img-gallery .ui-listview li, .img-gallery .ui-listview .ui-btn {
		x-webkit-transition: all 500ms ease;
		x-moz-transition: all 500ms ease;
		x-o-transition: all 500ms ease;
		x-ms-transition: all 500ms ease;
		xtransition: all 500ms ease;
	}
}

@media ( min-width : 600px) {
	/* .cropper-container {
		min-height: 400px;
	}
	.img-container {
		min-height: 400px;
	} */
	.img-gallery .ui-listview li {
		float: left;
		width: 21%;
		xheight: 60px;
		margin: .5em 0.5em;
		xborder: 1px solid transparent;
	}
	.img-gallery .ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child,
		.ui-listview .ui-li-has-thumb .ui-li-thumb {
		position: absolute;
		left: 0;
		top: 0;
		max-height: 8em !important;
		max-width: 8em !important;
	}
}

.ui-listview-mode {
	
}

/* Second breakpoint is 63.75em (1020px). 4 column layout. Tiles will be 250x250 pixels incl. margin again at the breakpoint. */
@media ( min-width : 63.75em ) { /* .cropper-container {
		min-height: 480px;
	}
	
	.img-container {
		min-height: 480px;
	} */
	#edit-toolbar  .ui-btn-icon-notext:after {
		top: 10% !important;
		margin-top: 0px !important;
	}
	
	#crop-toolbar  .ui-btn-icon-notext:after {
		top: 10% !important;
		margin-top: 0px !important;
	}
	.logoimage {
		width: 100%;
	}
	.ui-btn {
		font-size: 25px !important;
	}
	.ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after
		{
		top: 38% !important;
		margin-top: -11px !important;
	}
	.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after,
		.ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
		content: "";
		position: absolute;
		display: block;
		width: 44px !important;
		height: 44px !important;
		background-size: 60% !important;
	}
	.xui-panel {
		width: 25em !important;
		min-height: 100%;
		max-height: none;
		border-width: 0;
		position: absolute;
		top: 0;
		display: block;
	}
	.ui-input-search:after {
		background-size: 100% !important;
	}
	.ui-btn-icon-notext:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after
		{
		left: 32% !important;
		margin-left: -11px;
	}
	.ui-header.ui-screen-hidden+.ui-selectmenu-list li  .ui-btn {
		line-height: 1em !important;
		xfont-size: 1.2em !important;
	}
	.ui-mobile label, div.ui-controlgroup-label {
		font-weight: normal;
		font-size: 32px !important;
	}
	.ui-input-search:after {
		top: 36% !important;
		margin-top: -7px !important;
		width: 40px !important;
		height: 40px !important;
		background-size: 80% !important;
	}
	.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear,
		.ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
		top: 32% !important;
	}
	.ui-icon-delete:after {
		width: 40px !important;
		height: 40px !important;
	}
	.ui-input-text, .ui-input-search {
		margin: 0.2em 0 !important;
	}
	.ui-li-count {
		font-size: 30px !important;
	}
	.img-gallery .ui-content {
		padding: .625em; /* 10px */
	}
	.ui-mini .ui-input-text input, .ui-mini .ui-input-search input,
		.ui-input-text.ui-mini input, .ui-input-search.ui-mini input, .ui-mini textarea.ui-input-text,
		textarea.ui-mini {
		font-size: 32px !important;
	}
	.xui-alt-icon.ui-icon-search:after, .ui-alt-icon .ui-icon-search:after,
		.ui-input-search:after {
		background-size: contain !important;
	}
	.xui-input-search input {
		padding-left: 1.75em;
		xfont-size: 32px!importanat;
	}
	.xui-header .ui-title, .ui-footer .ui-title {
		xfont-size: 1em;
		min-height: 5.1em!importanat;
	}

	/* #pop_file_actions-popup .ui-btn-icon-notext, .ui-header button.ui-btn.ui-btn-icon-notext,
		.ui-footer button.ui-btn.ui-btn-icon-notext {
		width: 2.75em !important;
		height: 2.75em !important;
	}

	#pop_file_actions-popup .ui-btn-icon-notext:after, .ui-btn-icon-left:after,
		.ui-btn-icon-right:after {
		top: 17% !important;
	}

	#pop_file_actions-popup  .ui-icon-delete:after {
		width: 70px !important;
		height: 70px !important;
	}
 */
	.ui-listview>.ui-li-divider {
		font-size: 32px !important;
	}
	
	body {
		font-size: 32px !important;
	}
	.ui-listview .ui-li-has-thumb h2 {
		font-size: 1.2em !important;
		padding-left: 25px !important;
		text-align: center !important;
	}
	/* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
    By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
	.img-gallery .ui-listview {
		max-width: 62.5em; /* 1000px */
		margin: 0 auto;
	}
	.img-gallery img {
		width: 100%;
		height: 100%;
	}
	ximg {
		width: 100%;
		height: 100%;
	}
	.xui-panel-animate.ui-panel-page-content-position-leftx {
		left: 0;
		right: 0;
		-webkit-transform: translate3d(25em, 0, 0) !important;
		-moz-transform: translate3d(25em, 0, 0) !important;
		transform: translate3d(25em, 0, 0) !important;
	}
	.img-gallery .ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child,
		.ui-listview .ui-li-has-thumb .ui-li-thumb {
		position: absolute;
		left: 0;
		top: 0;
		max-height: 15em !important;
		max-width: 15em !important;
	}
	.img-gallery .ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img.ui-listview-mode
		{
		max-width: 5em !important;
	}

	/* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
    but we stick to percentage values for demo purposes. */
	.img-gallery .ui-listview li {
		width: 23%;
		xheight: 90px;
		margin: .1em .1em;
	}
	#pnl_selected_files .ui-listview li {
		width: 47% !important;
	}
	.current_dir_location_list .ui-bar {
		padding: .5em .5em !important;
		margin: 0em 0em 1.5em !important;
	}
	.img-gallery .ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb
		{
		min-height: 11.7em !important;
	}
	#crop-toolbar .ui-crop-tools .ui-btn {
		font-size: 30px !important;
		padding: 1em 1em !important;
		margin: 0.1em .3em !important;
	}
}
/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */
.ui-btn-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.file-explorer-content .ui-block-a {
	padding: 0px 5px !important;
}

/* .ftp-explorer-content .ui-block-a {
	padding: 0px 5px !important;
}
 */
.file-explorer .ui-collapsible-set {
	margin: 0 0;
}

.file-explorer .ui-collapsible-content {
	padding: 0em 1em;
}

.file-explorer  .ui-collapsible-content>.ui-listview {
	margin: -0em -1em;
}

.file-explorer   a.ui-btn {
	border-top-width: 0;
	font-weight: nornal;
	font-size: 12px !important;
	background: rgb(81, 81, 100);
	color: #FFFFFF;
}

.file-explorer .ui-collapsible-set {
	margin: 0 0;
}

.file-explorer .ui-collapsible-content {
	padding: 0em 1em;
}

.file-explorer  .ui-collapsible-content>.ui-listview {
	margin: -0em -1em;
}

.file-explorer   a.ui-btn {
	border-top-width: 0;
	font-weight: nornal;
	font-size: 12px !important;
	background: rgb(81, 81, 100);
	color: #FFFFFF;
}

body .ui-body-c, body .ui-overlay-c {
	text-shadow: 0 0 0;
}

#wmCanvasContainer {
	position: relative;
}

#WatermarkCanvas {
	border: 1px solid #000;
}

#waterimageTemp {
	position: absolute;
	top: 1px;
	left: 1px;
}

.logoimage {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
	.ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext
	{
	width: 2.5em !important;
	height: 2.7em !important;
}

#prefixInpectLine {
	max-width: 75% !important;
}

.current_dir_location {
	margin-bottom: 5px;
	text-transform: capitalize !important;
	xfont-weight: bold;
}

.current_dir_location  .ui-bar {
	padding: 0em .5em !important;
	margin-top: 0px !important;
	font-size: 1em !important;
}

.current_dir_location  #bc-link {
	text-decoration: inherit !important;
	text-rendering: auto !important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit,
	html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
	{
	border: #202C3C !important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit,
	html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
	{
	background-color: #202C3C !important;;
	border-color: #202C3C !important;;
}

.ui-footer-fixed {
	bottom: 0px !important;
	padding-bottom: 0px !important;
}

.ui-icon-crop:after {
	background-image: url("../img/crop.png");
	background-size: 18px 18px;
}

.ui-icon-zoom-i:after {
	background-image: url("../img/zoom-out.png");
	background-size: 18px 18px;
}

.ui-icon-zoom-o:after {
	background-image: url("../img/zoom-in.png");
	background-size: 18px 18px;
}

.ui-icon-brightness:after {
	background-image: url("../img/brightness.png");
	background-size: 18px 18px;
}

.ui-icon-contrast:after {
	background-image: url("../img/contrast.png");
	background-size: 18px 18px;
}

#pop_file_actions {
	background: transparent !important;
	border: 0 !important;
}

#crop-toolbar {
	background-color: #FFFFFF;
}

.ui-loader-background {
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.3);
	display: none;
	position: fixed;
	z-index: 100;
}

.ui-loading .ui-loader-background {
	display: block;
}

#edit-toolbar #slider-contrast-label {
	position: relative;
	float: right;
}

#edit-toolbar {
	background-color: #FFFFFF;
}

#edit-toolbar #slider-brightness-label {
	position: relative;
	float: right;
}

#edit-toolbar .ui-slider {
	max-width: 90%
}

#edit-toolbar label {
	margin: 0 0;
}
.ui-crop-tools{
	
}


#crop-toolbar #slider-crop-label {
	position: relative;
	float: right;
}

#crop-toolbar .ui-slider {
	max-width: 90%;
	xbackground-color: #FFFFFF;
}

#crop-toolbar label {
	margin: 0 0;
}